DB_USER=retail_app
DB_PASSWORD=replace-with-password
DB_CONNECT_STRING=exadbx-source.example.com:1521/RETAILPDB
TNS_ADMIN=/app/wallet
APP_ENV=production-like
SCENARIO_LABEL=source
PORT=3000
SOURCE_API_PORT=3000
SOURCE_UI_PORT=5173
CLONE_API_PORT=3001
CLONE_UI_PORT=5174

OCI_PROFILE=DEFAULT
OCI_REGION=us-ashburn-1
SOURCE_PDB_OCID=ocid1.pluggabledatabase.oc1..source
TARGET_CDB_OCID=ocid1.database.oc1..targetcdb
CLONE_PDB_NAME=RETAILCLONE
CLONE_DB_CONNECT_STRING=
TDE_WALLET_PASSWORD=replace-with-cdb-wallet-password
PDB_ADMIN_PASSWORD=replace-with-pdb-admin-password
PROD_KUBE_CONTEXT=oke-prod-retail
CLONE_KUBE_CONTEXT=oke-clone-retail
IMAGE_REPO=iad.ocir.io/namespace/retail-inventory
